.purchase-btn {
  width: 120px;
  /* background: #3ccace; */
  text-align: center;
  border-radius: 4%;
  bottom: 32px;
  right: 32px;
  position: fixed;
  padding: 10px; 
  background-image: linear-gradient(45deg, #709dff 0%, #91fdb7 100%);
}

.purchase-btn-text {
  color: #fff;
  display: block;
  font-size: 18px;
  text-decoration: none;
  margin-bottom: 5px;
}

.purchase-btn-icon {
  width: 60%;
}
